<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />-->
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--<script type="text/javascript" src="/static/xiyuan/lib/loading/okLoading.js"></script>-->
    <link rel="stylesheet" href="/css/x-admin.css" media="all">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2036587_en7ugjqvud.css" media="all">
    <link rel="stylesheet" href="../fonts/css/font-awesome.min.css">
</head>
<style>
    .show_list {
        display: block;
    }

    .hide_lits {
        display: none;
    }

</style>
<body class="layui-layout-body">

<div class="layui-layout">


    <!--左侧导航区域-->
    <div class="layui-side layui-bg-black x-side show_list" style="width:20%;float:left;background: #92B8B1;left:0px;"
         id="table1">

        <!--系统标题-->
        <div class="admin-logo-box">
            <a class="logo" href="" title="logo">CRM客户关系管理系统</a>
        </div>
        <!--头像-->
        <div>
            <a class="img" title="我的头像" style="display: block;width: 80px;height: 80px;margin: 10px auto 10px;">
                <img src="/images/index.jpg" class="userAvatar"
                     style="display: block;width: 100%;height: 100%;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;border: 4px solid #44576b;box-sizing: border-box;">
            </a>

            <!--时间展示-->
            <p style="text-align: center;">
                <span class="" id="time" style="font-size: 20px;font-family: 'yjsz'"></span>
            </p>
            <p style=" display: block;width: 100%;height: 25px;color: #ffffff;text-align: center;font-size: 12px;white-space: nowrap;line-height: 25px;overflow: hidden;">
                你好！<span class="userName">admin</span>, 欢迎回来
            </p>
        </div>

        <!--菜单-->
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
                <li class="layui-nav-item">
                    <a href="/view/mydesktop.html" target="right">
                        <i class="layui-icon iconfont icon-zhuomian" style="top: 3px;"></i>
                        <cite>我的桌面</cite>
                    </a>
                    <!-- <dl class="layui-nav-child">
                         <dd class="">
                         <dd class=""><a href="/view/test.html" target="right"> <cite>栏目列表</cite> </a></dd>
                         </dd>
                     </dl>-->
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="/view/clientmanager.html" target="right">
                        <i class="layui-icon iconfont icon-kehuguanli-copy-copy" style="top: 3px;"></i>
                        <cite>客户管理</cite>
                    </a>
                    <!--<dl class="layui-nav-child">
                        <dd class="">
                        <dd class=""><a href="javascript:;" _href="./articletype-list.html"> <cite>文章类型列表</cite>
                        </a>
                        </dd>
                        <dd class=""><a href="javascript:;" _href="./article-list.html"> <cite>文章列表</cite> </a></dd>
                        </dd>
                    </dl>-->
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="/view/mybusiness.html" target="right">
                        <i class="layui-icon iconfont icon-wodeshangjizhuanhuan" style="top: 3px;"></i>
                        <cite>我的商机</cite>
                    </a>
                    <!--<dl class="layui-nav-child">
                        <dd class="">
                        <dd class=""><a href="javascript:;" _href="./noticetype-list.html"> <cite>公告类型</cite> </a>
                        </dd>
                        </dd>
                        <dd class="">
                        <dd class=""><a href="javascript:;" _href="./notice-list.html"> <cite>公告列表</cite> </a></dd>
                        </dd>

                    </dl>-->
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="/view/businessmanager.html" target="right">
                        <i class="layui-icon iconfont icon-shangji2" style="top: 3px;"></i>
                        <cite>全部商机</cite>
                    </a>
                    <!--<dl class="layui-nav-child">
                        <dd class="">
                        <dd class=""><a href="javascript:;" _href="./banner-list.html"> <cite>轮播列表</cite> </a></dd>
                        </dd>
                    </dl>-->
                </li>

                <li class="layui-nav-item"><a class="javascript:;" href="javascript:;" target="right">
                    <i class="layui-icon iconfont icon-wodegendan" style="top: 3px;"></i>
                    <cite>我的跟单</cite>
                </a>
                    <!--<dl class="layui-nav-child">
                        <dd class=""><a href="javascript:;" _href="./category.html"> <cite>分类列表</cite> </a></dd>
                    </dl>-->
                </li>
                <li class="layui-nav-item"><a class="javascript:;" href="/documentary/list.html" target="right">
                    <i class="layui-icon iconfont icon-gendan" style="top: 3px;"></i>
                    <cite>全部跟单</cite>
                </a>
                    <!--<dl class="layui-nav-child">
                        <dd class=""><a href="javascript:;" _href="./category.html"> <cite>分类列表</cite> </a></dd>
                    </dl>-->
                </li>
                <li class="layui-nav-item"><a class="javascript:;" href="/forum/list.html" target="right">
                    <i class="layui-icon iconfont icon-tiezi1" style="top: 3px;"></i>
                    <cite>全部讨论帖子</cite>
                </a>
                    <!--<dl class="layui-nav-child">
                        <dd class=""><a href="javascript:;" _href="./comment-list.html"> <cite>评论列表</cite> </a></dd>
                        <dd class=""><a href="javascript:;" _href="./feedback-list.html"> <cite>意见反馈</cite> </a>
                        </dd>
                    </dl>-->
                </li>
                <li class="layui-nav-item"><a class="javascript:;" href="javascript:;" target="right">
                    <i class="layui-icon iconfont icon-htcn" style="top: 3px;"></i>
                    <cite>我的合同</cite>
                </a>
                    <!--<dl class="layui-nav-child">
                        <dd class=""><a href="javascript:;" _href="./comment-list.html"> <cite>评论列表</cite> </a></dd>
                        <dd class=""><a href="javascript:;" _href="./feedback-list.html"> <cite>意见反馈</cite> </a>
                        </dd>
                    </dl>-->
                </li>
                <li class="layui-nav-item"><a class="javascript:;" href="/contract/list.html" target="right">
                    <i class="layui-icon iconfont icon-quanbuhetong" style="top: 3px;"></i>
                    <cite>全部合同</cite>
                </a>
                    <!--<dl class="layui-nav-child">
                        <dd class=""><a href="javascript:;" _href="./comment-list.html"> <cite>评论列表</cite> </a></dd>
                        <dd class=""><a href="javascript:;" _href="./feedback-list.html"> <cite>意见反馈</cite> </a>
                        </dd>
                    </dl>-->
                </li>
                <li class="layui-nav-item"><a class="javascript:;" href="/view/aftersales.html;" target="right">
                    <i class="layui-icon iconfont icon-shouhoufuwu" style="top: 3px;"></i>
                    <cite>售后服务</cite>
                </a>
                    <!--<dl class="layui-nav-child">
                        <dd class=""><a href="javascript:;" _href="./comment-list.html"> <cite>评论列表</cite> </a></dd>
                        <dd class=""><a href="javascript:;" _href="./feedback-list.html"> <cite>意见反馈</cite> </a>
                        </dd>
                    </dl>-->
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" href="/view/statistical-analysis.html" target="right">
                        <i class="layui-icon iconfont icon-tongjifenxi" style="top: 3px;"></i>
                        <cite>统计分析</cite>
                    </a>
                    <!--<dl class="layui-nav-child">
                        <dd class=""><a href="javascript:;" _href="./comment-list.html"> <cite>评论列表</cite> </a></dd>
                        <dd class=""><a href="javascript:;" _href="./feedback-list.html"> <cite>意见反馈</cite> </a>
                        </dd>
                    </dl>-->
                </li>
                <li class="layui-nav-item"><a class="javascript:;" href="javascript:;" target="right">
                    <i class="layui-icon iconfont icon-jichu" style="top: 3px;"></i>
                    <cite>基础设置</cite>
                </a>
                    <!--<dl class="layui-nav-child">
                        <dd class=""><a href="javascript:;" _href="./comment-list.html"> <cite>评论列表</cite> </a></dd>
                        <dd class=""><a href="javascript:;" _href="./feedback-list.html"> <cite>意见反馈</cite> </a>
                        </dd>
                    </dl>-->
                </li>
                <li class="layui-nav-item">
                    <a class="javascript:;" id="start" href="javascript:;" target="right">
                        <i class="layui-icon iconfont icon-anquantuichu2" style="top: 3px;"></i>
                        <cite>安全退出</cite>
                    </a>
                    <!--<dl class="layui-nav-child">
                        <dd class=""><a href="javascript:;" _href="./comment-list.html"> <cite>评论列表</cite> </a></dd>
                        <dd class=""><a href="javascript:;" _href="./feedback-list.html"> <cite>意见反馈</cite> </a>
                        </dd>
                    </dl>-->
                </li>

            </ul>
        </div>
    </div>
    <!--右侧-->
    <div lay-filter="x-tab" lay-allowclose="true"
         style="border-left: solid 2px #2299ee;width:80%;float:right;">
        <!--<ul class="layui-tab-title">
            &lt;!&ndash;<li class="layui-this">你们好</li>&ndash;&gt;
        </ul>
        <div class="layui-tab-content site-demo site-demo-body">
            <div class="layui-tab-item layui-show">
                <iframe frameborder="0" src="#" class="x-iframe"></iframe>
            </div>
        </div>-->
        <div id="iframe-wrap" style="width:100%;height: 100vh;">
            <iframe id="iframe" src="/view/mydesktop.html" frameborder="0" width="100%" height="100%"
                    name="right"></iframe>
        </div>
    </div>
    <!--<div class="site-mobile-shade"></div>-->
</div>

<script src="/layui/layui.js" charset="utf-8"></script>
<script src="/js/x-admin.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/x-layui.js" charset="utf-8"></script>


<script>
    layui.use(['laydate', 'element', 'laypage', 'layer'], function () {
       // $ = layui.jquery;//jquery
       // laydate = layui.laydate;//日期插件
       // lement = layui.element;//面包导航
       // laypage = layui.laypage;//分页
        layer = layui.layer;//弹出层
        //以上模块根据需要引入


        $(function(){
            //打开弹窗
            $("#start").on("click",function(){
                layer.confirm('确认要退出吗？', {
                    btn : [ '确定', '取消' ]//按钮
                }, function(index) {//确认index为1
                    layer.close(index);//点击确认时先关闭弹框
                    //此处请求后台程序，下方是成功后的前台处理……
                    var index = layer.load(1,{shade: [0.7, '#393D49']}, {shadeClose: true}); //0代表加载的风格，支持0-2
                    console.log(index)
                    if(index==2){
                        logout();
                    }
                });


            });
        });

    });

    function logout() {
        console.log("进来")
        $.ajax({
            type:"get",
            url:"//user/logout.do",
            //data:{e:1},
            //dataType:"json",
            success:function (data) {
                console.log(data)
                /*if(data === "exist"){
                    layer.msg(data,{icon:1,time:1000});
                    setTimeout("window.location.href='{:url('/view/user/index.html')}'",2000);return false;
                    return false;
                }else{
                    layer.msg(data,{icon:5,time:2000});return false;
                }*/
            }

        })
        return false;
    }

    /*function member_show(title, url, id, w, h) {
        x_admin_show(title, url, w, h);
    }*/
</script>
<!--顶部时间-->
<!--<script>
    //顶部时间
    function getTime() {
        var myDate = new Date();
        var myYear = myDate.getFullYear(); //获取完整的年份(4位,1970-????)
        var myMonth = myDate.getMonth() + 1; //获取当前月份(0-11,0代表1月)
        var myToday = myDate.getDate(); //获取当前日(1-31)
        var myDay = myDate.getDay(); //获取当前星期X(0-6,0代表星期天)
        var myHour = myDate.getHours(); //获取当前小时数(0-23)
        var myMinute = myDate.getMinutes(); //获取当前分钟数(0-59)
        var mySecond = myDate.getSeconds(); //获取当前秒数(0-59)
        var week = ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];
        var nowTime;

        nowTime = myYear + '-' + fillZero(myMonth) + '-' + fillZero(myToday) + '&nbsp;&nbsp;' + fillZero(myHour) + ':' + fillZero(myMinute) + ':' + fillZero(mySecond) + '&nbsp;&nbsp;' + week[myDay] + '&nbsp;&nbsp;';
        //console.log(nowTime);
        $('#time').html(nowTime);
    };

    function fillZero(str) {
        var realNum;
        if (str < 10) {
            realNum = '0' + str;
        } else {
            realNum = str;
        }
        return realNum;
    }

    setInterval(getTime, 1000);
</script>-->
</body>
</html>