<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex, nofollow"/>
    <title>我的桌面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/我的桌面/styles.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript">
        AXSHARE_HOST_URL = 'http://www.axshare.cn';
        AXSHARE_HOST_SECURE_URL = 'http://www.axshare.cn';
        ACCOUNT_SERVICE_URL = 'http://www.axshare.cn';
        ACCOUNT_SERVICE_SECURE_URL = 'http://www.axshare.cn';
        ON_PREM_LDAP_ENABLED = 'false';
    </script><script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/我的桌面/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return 'http://www.axshare.cn/gsc/S3EWE1/0c/7f/0a/0c7f0a102aa0468792ba30e848859a83/resources/images/transparent.gif?token=b3f0eb56024a035b7cfbe7f4176f84bd9789b27df914e903346c81e017207c4f'; };
        $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Group) -->
    <div id="u79" class="ax_default" data-left="30" data-top="40" data-width="131" data-height="31">

        <!-- Unnamed (Rectangle) -->
        <div id="u80" class="ax_default _二级标题">
            <div id="u80_div" class=""></div>
            <div id="u80_text" class="text ">
                <p><span>我的桌面</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u81" class="ax_default _图片">
            <img id="u81_img" class="img " src="http://www.axshare.cn/gsc/S3EWE1/0c/7f/0a/0c7f0a102aa0468792ba30e848859a83/images/我的桌面/u81.png?token=1285f476fc7c3ce194433178dd30234f475de5839a2a5b4effcda1adace12784"/>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u82" class="ax_default box_1">
        <div id="u82_div" class=""></div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u83" class="ax_default box_1">
        <div id="u83_div" class=""></div>
        <div id="u83_text" class="text ">
            <p><span>待处理的事务</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u84" class="ax_default box_1">
        <div id="u84_div" class=""></div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u85" class="ax_default box_1">
        <div id="u85_div" class=""></div>
        <div id="u85_text" class="text ">
            <p><span>客户关系</span></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u86" class="ax_default" data-left="50" data-top="141" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u87" class="ax_default label">
            <div id="u87_div" class=""></div>
            <div id="u87_text" class="text ">
                <p><span>员工培训安排-王娜-1000980</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u88" class="ax_default label">
            <div id="u88_div" class=""></div>
            <div id="u88_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u89" class="ax_default" data-left="50" data-top="171" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u90" class="ax_default label">
            <div id="u90_div" class=""></div>
            <div id="u90_text" class="text ">
                <p><span>用车申请-申花-100971</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u91" class="ax_default label">
            <div id="u91_div" class=""></div>
            <div id="u91_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u92" class="ax_default" data-left="50" data-top="201" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u93" class="ax_default label">
            <div id="u93_div" class=""></div>
            <div id="u93_text" class="text ">
                <p><span>用品领用申请-沈厚辉-100987</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u94" class="ax_default label">
            <div id="u94_div" class=""></div>
            <div id="u94_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u95" class="ax_default" data-left="50" data-top="231" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u96" class="ax_default label">
            <div id="u96_div" class=""></div>
            <div id="u96_text" class="text ">
                <p><span>差旅费报销-张瑶瑶-1000965</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u97" class="ax_default label">
            <div id="u97_div" class=""></div>
            <div id="u97_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u98" class="ax_default" data-left="50" data-top="261" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u99" class="ax_default label">
            <div id="u99_div" class=""></div>
            <div id="u99_text" class="text ">
                <p><span>2016年4月绩效考核单-张旭</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u100" class="ax_default label">
            <div id="u100_div" class=""></div>
            <div id="u100_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u101" class="ax_default" data-left="50" data-top="291" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u102" class="ax_default label">
            <div id="u102_div" class=""></div>
            <div id="u102_text" class="text ">
                <p><span>2016年4月绩效考核单-沈华</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u103" class="ax_default label">
            <div id="u103_div" class=""></div>
            <div id="u103_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u104" class="ax_default" data-left="50" data-top="321" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u105" class="ax_default label">
            <div id="u105_div" class=""></div>
            <div id="u105_text" class="text ">
                <p><span>资产采购申请-季道晓-1000964</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u106" class="ax_default label">
            <div id="u106_div" class=""></div>
            <div id="u106_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u107" class="ax_default" data-left="50" data-top="351" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u108" class="ax_default label">
            <div id="u108_div" class=""></div>
            <div id="u108_text" class="text ">
                <p><span>国环公司认证管理子系统督进</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u109" class="ax_default label">
            <div id="u109_div" class=""></div>
            <div id="u109_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u110" class="ax_default" data-left="50" data-top="381" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u111" class="ax_default label">
            <div id="u111_div" class=""></div>
            <div id="u111_text" class="text ">
                <p><span>拜访杭州客户工作报告</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u112" class="ax_default label">
            <div id="u112_div" class=""></div>
            <div id="u112_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u113" class="ax_default" data-left="50" data-top="411" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u114" class="ax_default label">
            <div id="u114_div" class=""></div>
            <div id="u114_text" class="text ">
                <p><span>2016年第二季度财务工作任务</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u115" class="ax_default label">
            <div id="u115_div" class=""></div>
            <div id="u115_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u116" class="ax_default box_1">
        <div id="u116_div" class=""></div>
        <div id="u116_text" class="text ">
            <p><span>17</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u117" class="ax_default box_1">
        <div id="u117_div" class=""></div>
        <div id="u117_text" class="text ">
            <p style="font-size:14px;"><span style="font-family:'微软雅黑';font-weight:400;color:#666666;">全部客户</span></p><p style="font-size:20px;"><span style="font-family:'Arial Normal', 'Arial';font-weight:400;">24</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u118" class="ax_default box_1">
        <div id="u118_div" class=""></div>
        <div id="u118_text" class="text ">
            <p style="font-size:14px;"><span style="font-family:'微软雅黑';font-weight:400;color:#666666;">全部商机</span></p><p style="font-size:20px;"><span style="font-family:'Arial Normal', 'Arial';font-weight:400;">24</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u119" class="ax_default box_1">
        <div id="u119_div" class=""></div>
        <div id="u119_text" class="text ">
            <p style="font-size:14px;"><span style="font-family:'微软雅黑';font-weight:400;color:#666666;">全部合同</span></p><p style="font-size:20px;"><span style="font-family:'Arial Normal', 'Arial';font-weight:400;">24</span></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u120" class="ax_default _图片">
        <img id="u120_img" class="img " src="http://www.axshare.cn/gsc/S3EWE1/0c/7f/0a/0c7f0a102aa0468792ba30e848859a83/images/我的桌面/u120.png?token=29dd513a061c5b2701d688f302b70d0743b3063962fd750f91f76ee543203776"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u121" class="ax_default box_1">
        <div id="u121_div" class=""></div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u122" class="ax_default box_1">
        <div id="u122_div" class=""></div>
        <div id="u122_text" class="text ">
            <p><span>信息公告</span></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u123" class="ax_default" data-left="50" data-top="521" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u124" class="ax_default label">
            <div id="u124_div" class=""></div>
            <div id="u124_text" class="text ">
                <p><span>Colloa签约倍科电器，助力世界500强</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u125" class="ax_default label">
            <div id="u125_div" class=""></div>
            <div id="u125_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u126" class="ax_default" data-left="50" data-top="551" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u127" class="ax_default label">
            <div id="u127_div" class=""></div>
            <div id="u127_text" class="text ">
                <p><span>BPM替换案例：二进制携手中兴恒业</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u128" class="ax_default label">
            <div id="u128_div" class=""></div>
            <div id="u128_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u129" class="ax_default" data-left="50" data-top="581" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u130" class="ax_default label">
            <div id="u130_div" class=""></div>
            <div id="u130_text" class="text ">
                <p><span>如何选择企业自身的BPM需求？</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u131" class="ax_default label">
            <div id="u131_div" class=""></div>
            <div id="u131_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u132" class="ax_default" data-left="50" data-top="611" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u133" class="ax_default label">
            <div id="u133_div" class=""></div>
            <div id="u133_text" class="text ">
                <p><span>BPM运营平台助企业打造全面运营管理</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u134" class="ax_default label">
            <div id="u134_div" class=""></div>
            <div id="u134_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u135" class="ax_default" data-left="50" data-top="641" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u136" class="ax_default label">
            <div id="u136_div" class=""></div>
            <div id="u136_text" class="text ">
                <p><span>Colloa系统陪伴《省老年体协》5个年头</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u137" class="ax_default label">
            <div id="u137_div" class=""></div>
            <div id="u137_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u138" class="ax_default" data-left="50" data-top="671" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u139" class="ax_default label">
            <div id="u139_div" class=""></div>
            <div id="u139_text" class="text ">
                <p><span>资产管理制度（2016.3修订版）</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u140" class="ax_default label">
            <div id="u140_div" class=""></div>
            <div id="u140_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u141" class="ax_default" data-left="50" data-top="701" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u142" class="ax_default label">
            <div id="u142_div" class=""></div>
            <div id="u142_text" class="text ">
                <p><span>公司公务用车管理办法</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u143" class="ax_default label">
            <div id="u143_div" class=""></div>
            <div id="u143_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u144" class="ax_default" data-left="50" data-top="731" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u145" class="ax_default label">
            <div id="u145_div" class=""></div>
            <div id="u145_text" class="text ">
                <p><span>公司人事部人事管理制度</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u146" class="ax_default label">
            <div id="u146_div" class=""></div>
            <div id="u146_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u147" class="ax_default" data-left="50" data-top="761" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u148" class="ax_default label">
            <div id="u148_div" class=""></div>
            <div id="u148_text" class="text ">
                <p><span>公司财务管理制度</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u149" class="ax_default label">
            <div id="u149_div" class=""></div>
            <div id="u149_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u150" class="ax_default" data-left="50" data-top="791" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u151" class="ax_default label">
            <div id="u151_div" class=""></div>
            <div id="u151_text" class="text ">
                <p><span>关于召开BPM启用准备会议的通知</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u152" class="ax_default label">
            <div id="u152_div" class=""></div>
            <div id="u152_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u153" class="ax_default box_1">
        <div id="u153_div" class=""></div>
        <div id="u153_text" class="text ">
            <p><span>20</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u154" class="ax_default box_1">
        <div id="u154_div" class=""></div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u155" class="ax_default box_1">
        <div id="u155_div" class=""></div>
        <div id="u155_text" class="text ">
            <p><span>我关注的知识</span></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u156" class="ax_default" data-left="503" data-top="521" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u157" class="ax_default label">
            <div id="u157_div" class=""></div>
            <div id="u157_text" class="text ">
                <p><span>BPM系统管理员岗位职责都有哪些？</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u158" class="ax_default label">
            <div id="u158_div" class=""></div>
            <div id="u158_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u159" class="ax_default" data-left="503" data-top="551" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u160" class="ax_default label">
            <div id="u160_div" class=""></div>
            <div id="u160_text" class="text ">
                <p><span>&nbsp;怎样的BPM系统容易被企业CIO接受</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u161" class="ax_default label">
            <div id="u161_div" class=""></div>
            <div id="u161_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u162" class="ax_default" data-left="503" data-top="581" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u163" class="ax_default label">
            <div id="u163_div" class=""></div>
            <div id="u163_text" class="text ">
                <p><span>小企业如何低成本地采购BPM系统？</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u164" class="ax_default label">
            <div id="u164_div" class=""></div>
            <div id="u164_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u165" class="ax_default" data-left="503" data-top="611" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u166" class="ax_default label">
            <div id="u166_div" class=""></div>
            <div id="u166_text" class="text ">
                <p><span>Colloa支持内外网同时登陆同一套数据？</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u167" class="ax_default label">
            <div id="u167_div" class=""></div>
            <div id="u167_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u168" class="ax_default" data-left="503" data-top="641" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u169" class="ax_default label">
            <div id="u169_div" class=""></div>
            <div id="u169_text" class="text ">
                <p><span>推动十二五发展建设新闻稿</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u170" class="ax_default label">
            <div id="u170_div" class=""></div>
            <div id="u170_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u171" class="ax_default" data-left="503" data-top="671" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u172" class="ax_default label">
            <div id="u172_div" class=""></div>
            <div id="u172_text" class="text ">
                <p><span>公司十周年庆典活动介绍</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u173" class="ax_default label">
            <div id="u173_div" class=""></div>
            <div id="u173_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u174" class="ax_default" data-left="503" data-top="701" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u175" class="ax_default label">
            <div id="u175_div" class=""></div>
            <div id="u175_text" class="text ">
                <p><span>周六爬山公益活动</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u176" class="ax_default label">
            <div id="u176_div" class=""></div>
            <div id="u176_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u177" class="ax_default" data-left="503" data-top="731" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u178" class="ax_default label">
            <div id="u178_div" class=""></div>
            <div id="u178_text" class="text ">
                <p><span>如何有步骤地开发区域市场</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u179" class="ax_default label">
            <div id="u179_div" class=""></div>
            <div id="u179_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u180" class="ax_default" data-left="503" data-top="761" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u181" class="ax_default label">
            <div id="u181_div" class=""></div>
            <div id="u181_text" class="text ">
                <p><span>现代销售即网络营销</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u182" class="ax_default label">
            <div id="u182_div" class=""></div>
            <div id="u182_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u183" class="ax_default" data-left="503" data-top="791" data-width="403" data-height="20">

        <!-- Unnamed (Rectangle) -->
        <div id="u184" class="ax_default label">
            <div id="u184_div" class=""></div>
            <div id="u184_text" class="text ">
                <p><span>&nbsp;java和C++性能比较</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u185" class="ax_default label">
            <div id="u185_div" class=""></div>
            <div id="u185_text" class="text ">
                <p><span>5/7</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u186" class="ax_default box_1">
        <div id="u186_div" class=""></div>
        <div id="u186_text" class="text ">
            <p><span>16</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u187" class="ax_default box_1">
        <div id="u187_div" class=""></div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u188" class="ax_default box_1">
        <div id="u188_div" class=""></div>
        <div id="u188_text" class="text ">
            <p><span>友情链接</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u189" class="ax_default label">
        <div id="u189_div" class=""></div>
        <div id="u189_text" class="text ">
            <p><span>优职坊官网</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u190" class="ax_default label">
        <div id="u190_div" class=""></div>
        <div id="u190_text" class="text ">
            <p><span>百度官网</span></p>
        </div>
    </div>
</div>
</body>
</html>
